* {
    margin: 0;
    padding: 0;
}

.header {
    background: url('./assets/bg-image.png') center center/cover no-repeat;
    width: 100%;
    height: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_menu {
    width: 582px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu>a {
    color: white;
    text-decoration: none;
}

.header_menu>a:hover {
    font-weight: bold;
    text-decoration: underline;
}


.header_title {
    text-transform: uppercase;
    font-family: "Roboto";
    color: white;
    width: 730px;
    height: 75px;
    margin-left: 80px;
    margin-top: 150px;
    font-size: 30px;
    line-height: 40px;



}

.header_text {
    display: inline;
    text-align: center;
    color: aliceblue;
    width: 450px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.header_text>p {
    display: inline;
}




.header_button>button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 45px;
    background: #00AFDB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.header_link {

    width: 170px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;


}

.second_section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.tittle h2 {
    text-transform: uppercase;
    margin-left: 200px;
    width: 387px;
    height: 66px;
}

.text {
    margin-left: 200px;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 45px;
    background: #00AFDB;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-left: 200px;
    margin-top: 25px;
}




.right {
    width: 50%;

}

.Tree {
    display: flex;
    margin-bottom: 140px;
   

}

.right img {
    margin-top: 150px;
    margin-left: 224px;
    margin-bottom: 150px;
    width: 350px;
    height: 430px;
}

.left1 {
    width: 497px;
}

.One_hart img {
    margin-left: 230px;
    margin-top: 27px;

}

.blok_tree_tittle {
    margin-left: 161px;

}

.blok_tree_text {
    align-items: flex-end;
    text-align: center;
}

.Header_Div {
    display: flex;
    margin-bottom: -106px;

}

.img {
    margin-left: 180px;


}

.header_div_Theerd {
    margin-left: 222px;
    margin-top: 284px;
    width: 600px;
    height: 600px;


}


.right_tittl {
    font-size: 24px;
    letter-spacing: 1px;
    width: 298px;
    height: 28px;

}

.right_text {
    width: 407px;
    height: 73px;
    margin-top: 20px;
    font-size: 15px;
    line-height: 19.6px;

}


.Learn_more {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #00AFDB;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 175px;
    height: 45px;
}

.Header_Img {
    background: url('./assets/pexels-christina-morillo-1181675\ 1.jpg') center center/cover no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 686px;
    margin-bottom: 104px;

}

.Tittle_E_mail {
    margin-top: 271px;
    font-weight: 700;
    font-size: 33px;
    line-height: 28px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.e-mail  {
    margin-left: 146px;
    font-size: 0px;

}

.E-MAIL {
    width: 176px;
    height: 40px;
    border: none;
}

.app {
    width: 50px;
    height: 40px;
    background: #00AFDB;
    border-radius: 0px;
    margin: none;
    margin-top: 40px;
    border: none;
}

.img_icon {
    width: 16px;
    height: 12px;


}

.Download_the_App {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 158px;
}

.Tittle_Text h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    width: 487px;
    height: 48px;
}

.Tittle_Text p {
    text-align: center;
    width: 493px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
}

.button_1 {
    display: flex;

}

.apple_store_Text {
    font-size: 17px;
    color: #FFFFFF;
    width: 145px;
    height: 46px;
    background: #00AFDB;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.apple_store {
    width: 59px;
    height: 46px;
    background: #009CC2;
    border: none;
}

.aplle_icon {
    width: 16px;
    height: 12px;
}

.



.button_2 {
    display: flex;

}


.Play_Market_Text {
    margin-left: 20px;
    font-size: 17px;
    color: #FFFFFF;
    width: 145px;
    height: 46px;
    background: #00AFDB;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;

}

.Play_Market {

    width: 59px;
    height: 46px;
    background: #009CC2;
    border-radius: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;

}

.Play_Market_icon {
    width: 16px;
    height: 13px;

}

.Header_last {
    background: #000000;
    width: 100%;
    height: 185px;
    align-items: center;
}


.left_img {

    margin-top: 85px;
    margin-left: 72px;
    margin-right: 357px;

}

.center_logo {
    margin-right: 385px;


}